body {
    margin: 0;
    padding: 0;
    background-image: url(../images/tiny-squares/tiny-squares.png);
}

header {
    background-color:#ffffff;
    position: relative;
    padding: 50px;

}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    float: right;
}

li {
    display: inline;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 15%;
    height: 50px;
    padding: 10px 10px 0px 10px;
    text-align: center; 
    margin: 0px auto;
    position: absolute;
    bottom: 0;  
}

h2 {
    color: #4aaaa5;
    padding: 0px 20px;
}

.aboutme {
    background-color: #ffffff;
    width: 960px;
    height: 500px;
    margin:  30px auto;
    padding: 10px;
    border: solid;
    border-color: black;
    position: relative;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}

.contactme {
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    padding: 0px 20px 20px 2px;
}

.portfolio {
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;

}

img {
    width: 30%;
    float: left;
    padding: 20px;
}


