/*Stylying for body*/

body {
    background-image: url(../images/tiny-squares/tiny-squares.png);
    margin: 0;
    padding: 0;
}

/*Syling for main

main {
    background: #000000;
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: #ffffff;
}
*/

/*Styling for header*/

header {
background: white;
margin: 0;
padding: 20px;
border: 1px solid #000000;
color: #ffffff;
}

/*Styling for content*/

.content {
    background: white;
    margin: 20px auto;
    width: 960px;
    border: 1px solid black;
}


/*Styling for footer*/

footer {
    border: 1px solid #000000;
    background: #616161;
}

/*giving my name its own box*/
h2 {
    background-color: teal;
    margin: 0;
    padding: 20px;
    height: 100%;
    width: 10%;

}

/*no bullet points*/
ul {
    list-style-type: none;
    margin: 0 auto;
    float: right;
}

/*moving to the right*/
li {
    display: inline;
}

/*change color of about me*/
h1 {
    color: teal;
    margin: 20px 0px;
    padding: 20px 0px;
    border: 1px solid #000000;
}

/*making the img fit*/
img {
    width: 250px;
    height: auto;
    padding: 20px 0px;
    border: 1px solid #000000;
}

p {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    float: right;
}



